<% include ../partials/header %>
<div class="container">
        <h2 style="text-align:center;">Edit <%= campground.name %></h2>
        <div style="width:30%; margin: 25px auto">
            <form action ="/campgrounds/<%= campground._id %>/?_method=PUT" method ="POST">
                <div class="form-group">
                    <input class="form-control" type="text" value="<%= campground.name %>" name="new_campground">        
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" value="<%= campground.image %>" name="image_url">        
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" value="<%= campground.description %>" name="description">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>        
                </div>        
            
            </form>
        </div>
</div>


<% include ../partials/footer %>